body {
	padding-top: 100px;
	max-height: 100vh;
	overflow: hidden;
	margin: 0;
	font-family: 'Quicksand', sans-serif;
}
p{margin: 0;}
.color-secondary{
color: rgba(0,0,0,.5);
}
.hover{
	cursor: pointer;
	transition: all ease 500ms;
	transform: scale(1);
}
.hover:hover{
	transform: scale(1.1);
}
a {
	text-decoration: none;
}
.z-1{
	z-index: 1;
}
.z-10{
	z-index: 10;
}
.layout{
	height: calc(100vh - 100px);
	overflow-y: scroll;
	align-content: baseline;
}
.success-text{
	color: rgba(10, 159, 20, .7)
}
.border-bottom{
	border-bottom: 1px solid rgba(0,0,0,.08);
}
.content-center{
	align-content: center;
}
.btn {
	padding: 8px 10px;
	border-radius: 5px;
	border: 1px solid rgba(255, 255, 255, .2);
	font-size: 15px;
	color: white;
	background-color: black;
	transition: all ease 500ms;
}
.absolute{
	position: absolute;
}
.justify-end{
	display: flex;
	justify-content: end;
}
.justify-between{
	justify-content: space-between;
}
.justify-around{
	justify-content: space-around;
}
.secondary {
	color: white;
	background-color: var(--very-light-pink);
}

.success {
	color: white;
	background-color: var(--green);
}
.success-outline {
	color: var(--green);
	border-color: var(--green);
	background: transparent;
}
.black-outline {
	color: black;
	border-color: black;
	background: transparent;
}

.danger {
	color: white;
	background-color: rgba(185, 20, 10, 1);
}

.center {
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	box-sizing: border-box;
}
.fit-content{
	height: fit-content;
}
.items-center{
	align-items: center;
	display: flex;
}
.flex-wrap{
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
}
.m-0{
	margin: 0;
}
.m-1{
	margin: 0.5rem;
}
.mt-0{
	margin-top: 0;
}
.my-1{
	margin: 0.5rem 0 !important;
}
.mb-2{
	margin-bottom: 1rem;
}
.mx-2 {
	margin: 0 1rem;
}

.my-2 {
	margin: 1rem 0;
}

.my-3 {
	margin: 1.5rem 0;
}
.p-1{
	padding: 0.5rem !important;
}
.p-2{
	padding: 1rem;
}
.p-3{
	padding: 1.5rem;
}

.d-none{
	display: none;
}
.start{
	justify-content: left;
}
.end{
	justify-content: right;
}
.py-1 {
	padding: 0.5rem 0;
}
.py-2 {
	padding: 1rem 0;
}
.px-1{
	padding: 0 0.5rem;
}
.px-2{
	padding: 0 1rem;
}

.dropdown{
	font-weight: 600;
	position: relative;
	padding: 5px;
	color: var(--gray);
}

.dropdown-content{
	z-index: 2;
	display: none;
	font-size: 14px;
	position: absolute;
	background-color: white;
	padding: 1rem;
	left: 0;
	border: 1px solid var(--very-light-pink);
	border-radius: 10px;
}

.dropdown:hover .dropdown-content{
	display: block;
}


select{
	width: -webkit-fill-available;
	padding: 10px;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    color: rgba(0,0,0,.7);
	text-align: center;
}
label{
	color:rgba(0, 0, 0, .7);
}

.swal-text{
	text-align: center !important;
}
input[type="checkbox"i] {
	background-color: initial;
	cursor: default;
	appearance: auto;
	box-sizing: border-box;
	margin: 3px 3px 3px 4px;
	padding: initial;
	width: 20px;
	height: 20px;
}

.text-end{
	text-align: end;
}
.text-center{
	text-align: center;
}
.text-start{
	text-align: start;
}

.col-1 {
	width: 10%;
}

.col-2 {
	width: 20%;
}

.col-3 {
	width: 30%;
}

.col-4 {
	width: 40%;
}

.col-5 {
	width: 50%;
}

.col-6 {
	width: 60%;
}

.col-7 {
	width: 70%;
}

.col-8 {
	width: 80%;
}

.col-9 {
	width: 90%;
}

.col-10 {
	width: 100%;
}

.col-md-1 {
	width: 10%;
}

.col-md-2 {
	width: 20%;
}

.col-md-3 {
	width: 30%;
}

.col-md-4 {
	width: 40%;
}

.col-md-5 {
	width: 50%;
}

.col-md-6 {
	width: 60%;
}

.col-md-7 {
	width: 70%;
}

.col-md-8 {
	width: 80%;
}

.col-md-9 {
	width: 90%;
}

.col-md-10 {
	width: 100%;
}

.col-sm-1 {
	width: 10%;
}

.col-sm-2 {
	width: 20%;
}

.col-sm-3 {
	width: 30%;
}

.col-sm-4 {
	width: 40%;
}

.col-sm-5 {
	width: 50%;
}

.col-sm-6 {
	width: 60%;
}

.col-sm-7 {
	width: 70%;
}

.col-sm-8 {
	width: 80%;
}

.col-sm-9 {
	width: 90%;
}

.col-sm-10 {
	width: 100%;
}

.d-flex{
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
}
.bold{
	font-weight: bold;
}
.input {
	background-color: rgba(0, 0, 0, .1);
	text-align: center;
	border: none;
	border-radius: 8px;
	height: 30px;
	font-size: var(--sm);
	padding: 5px 0;
	margin: 0 !important;
}

.btn:hover {
	box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 50%);
}

.spaceAround {
	justify-content: space-around;
}

@media (max-width: 800px) {
	.dropdown-content{
		right: -100px;
	}
}
@media (max-width: 770px) {
	.col-md-1 {
		width: 100%;
	}

	.col-md-2 {
		width: 100%;
	}

	.col-md-3 {
		width: 100%;
	}

	.col-md-4 {
		width: 100%;
	}

	.col-md-5 {
		width: 100%;
	}

	.col-md-6 {
		width: 100%;
	}

	.col-md-7 {
		width: 100%;
	}

	.col-md-8 {
		width: 100%;
	}

	.col-md-9 {
		width: 100%;
	}

	.col-md-10 {
		width: 100%;
	}
}

@media (max-width: 500px) {
	.col-sm-1 {
		width: 100%;
	}

	.col-sm-2 {
		width: 100%;
	}

	.col-sm-3 {
		width: 100%;
	}

	.col-sm-4 {
		width: 100%;
	}

	.col-sm-5 {
		width: 100%;
	}

	.col-sm-6 {
		width: 100%;
	}

	.col-sm-7 {
		width: 100%;
	}

	.col-sm-8 {
		width: 100%;
	}

	.col-sm-9 {
		width: 100%;
	}

	.col-sm-10 {
		width: 100%;
	}
}