@import 'vars';

nav {
	background-color: transparent;
	position: fixed;
	bottom: 0;
	width: 99vw;
	display: flex;
	justify-content: space-between;
	padding: 1vh 2vw;
	background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, .5) 90%, rgba(255, 255, 255, 0) 100%);
}

.menu {
	display: none;
}

.nav-logo {
	width: 80px;
	opacity: 0.80;
}



.navbar-right {
	display: flex;
	align-items: center;
}

.navbar-left ul li a,
.navbar-right ul li a {
	text-decoration: none;
	color: var(--gray);
	padding: 8px;
	border-radius: 8px;
	font-weight: bold;
}

.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
	color: var(--green);
}

.navbar-email {
	color: var(--gray);
	font-size: var(--sm);
	margin-right: 12px;
}

.dot-menu-container{
    height: 70px;
    position: relative;
    box-shadow: 6px 0px 10px -2px rgb(0 0 0 / 20%);
    border-radius: 40px;
    width: 70px;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
}

.navbar-shopping-cart {
    height: 70px;
    position: relative;
    box-shadow: -6px 0px 10px -2px rgb(0 0 0 / 20%);
    border-radius: 40px;
    width: 70px;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
}

.navbar-shopping-cart div {
	width: 16px;
	height: 16px;
	background-color: var(--green);
	border-radius: 50%;
	font-size: var(--sm);
	font-weight: bold;
	position: absolute;
	top: -6px;
	right: -3px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.open-menu {
	left: 0 !important;
}

.close-menu-button {
	position: absolute;
	background: black;
	color: white;
	width: 26px;
	height: 26px;
	border-radius: 15px;
	justify-content: center;
	display: flex;
	font-weight: 800;
}

.hamb-menu-close {
	transition: all ease 500ms;
	transform: rotate(0);
	z-index: 100;
}

.hamb-menu-open {
	transform: rotate(90deg) !important;
}

.close-login {
	animation: closelogin;
	animation-duration: 500ms;
	animation-fill-mode: forwards;
}

.open-login {
	backdrop-filter: blur(4px);
	animation: openlogin;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes openlogin {
	0% {
		width: 0;
		bottom: 0;
		left: -103vw;
		height: 0;
		border-top-right-radius: 400px;
	}

	80% {
		bottom: 0;
		left: 0;
		width: 100vw;
		height: calc(100vh - 40px);
	}

	100% {
		width: 100vw;
		height: calc(100vh - 40px);
		bottom: 0;
		left: 0;
		border-top-right-radius: 0;

	}
}

@keyframes closelogin {
	0% {
		width: 100vw;
		height: calc(100vh - 40px);
		bottom: 0;
		left: 0;
		border-top-right-radius: 0;
	}

	20% {
		bottom: 0;
		left: 0;
		width: 100vw;
		height: calc(100vh - 40px);
	}

	100% {
		width: 0;
		bottom: 0;
		left: -103vw;
		height: 0;
		border-top-right-radius: 400px;

	}

}

.login{
	overflow-y: scroll;
	position: absolute;
	display: block;
	padding: 2vw;
	background-color: rgba(255, 255, 255, .8);
	padding: 1rem;
	box-sizing: border-box;
	margin: 0 !important;
}

.menu {
	display: block;
}

@media (max-width: 768px) {




	.navbar-email {
		display: none;
	}
}