@import 'vars';

nav {
	background-color: white;
	position: fixed;
	top: 0;
	width: 96vw;
	box-shadow: 0px 0px 25px -10px;
	display: flex;
	justify-content: space-between;
	padding: 1vh 2vw;
	border-bottom: 1px solid var(--very-light-pink);
	margin-bottom: 60px;
}
.menu {
	display: none;
}
.nav-logo {
	width: 100px;
}
.navbar-left ul,
.navbar-right ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	height: 60px;
	z-index: 20;
}
.navbar-left {
	display: flex;
	align-items:center;
}

.navbar-right {
	display: flex;
	align-items:center;
}
.navbar-left ul {
	margin-left: 12px;
}
.navbar-left ul li a,
.navbar-right ul li a {
	text-decoration: none;
	color: var(--gray);
	border: 1px solid var(--white);
	padding: 8px;
	border-radius: 8px;
    font-weight: bold;
}
.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
	border: 1px solid var(--green);
	color: var(--green);
}
.navbar-email {
	color: var(--gray);
	font-size: var(--sm);
	margin-right: 12px;
}
.navbar-shopping-cart {
	position: relative;
}
.navbar-shopping-cart div {
	width: 16px;
	height: 16px;
	background-color: var(--green);
	border-radius: 50%;
	font-size: var(--sm);
	font-weight: bold;
	position: absolute;
	top: -6px;
	right: -3px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.open-menu{
	left: 0 !important;
}
.close-menu-button{
	position: absolute;
    background: black;
    color: white;
    width: 26px;
    height: 26px;
    border-radius: 15px;
    justify-content: center;
    display: flex;
    font-weight: 800;
}
@media (max-width: 768px) {
	.menu {
		display: block;
	}
	.navbar-left ul {
		box-shadow: 4px 1px 10px 1px rgb(0 0 0 / 30%);
		position: absolute;
		display: block;
		width: 140px;
		margin: 0 !important;
		transition: all ease-out 700ms;
		left: -185px;
		padding: 2vw;
		height: 100vh;
		top: 100px;
		background: white;
		li{
			margin: 1rem 0;
		}
	}
	.navbar-email {
		display: none;
	}
}
