

.inventory-item-dark {
    background: rgba(0,0,0,.1);
}
.inventory-item:hover {
    background: rgba(0,0,0,.1);
    font-weight: bolder;
}
.inventory-item-dark:hover {
    background: rgba(0,0,0,.2);
    font-weight: bolder;
}