@import 'vars';

.MyOrder {
    z-index: 1000;
    align-items: flex-start;
    flex-wrap: wrap;
	overflow-y: scroll;
	position: absolute;
	display: flex;
	padding: 2vw;
	background-color: rgba(255, 255, 255, .8);
	padding: 1rem;
	box-sizing: border-box;
	margin: 0 !important;
	width: 0;
	bottom: 0;
	right: -103vw;
	height: 0;
	justify-content: center;
    overflow-x: hidden;
}
.my-order-content{
    height: calc(100vh - 380px);
    overflow-y: scroll;
    overflow-x: hidden;

}
.my-order-content::-webkit-scrollbar {
    -webkit-appearance: none;
}

    .my-order-content::-webkit-scrollbar:vertical {
        width: 5px;
    }

.my-order-content::-webkit-scrollbar-button:increment, .contenedor::-webkit-scrollbar-button {
    display: none;
}

.my-order-content::-webkit-scrollbar:horizontal {
    height: 5px;
}

.my-order-content::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: none;
}

.my-order-content::-webkit-scrollbar-track {
    border-radius: 10px;
}

.title-order {
    z-index: 1;
	font-size: var(--lg);
	font-weight: bold;
	color: var(--gray);
}
.resume {
	height: 100px;
}

.totalCart{
	background-color: rgba(0,0,0,.1);
	justify-content: space-around;
	font-weight: 800;
}

.close-cart {
	animation: closecart;
	animation-duration: 500ms;
	animation-fill-mode: forwards;
}

.open-cart {
	backdrop-filter: blur(5px);
	animation: opencart;
	animation-duration: 800ms;
	animation-fill-mode: forwards;
}

@keyframes opencart {
	0% {
		width: 0;
		bottom: 0;
		right: -103vw;
		height: 0;
	}

	80% {
		bottom: 0;
		right: 0;
		width: 100vw;
		height: 100vh;
	}

	100% {
		width: 100vw;
		height: 100vh;
		bottom: 0;
		right: 0;
	}
}

@keyframes closecart {
	0% {
		width: 100vw;
		height: 100vh;
		bottom: 0;
		right: 0;
	}

	20% {
		bottom: 0;
		right: 0;
		width: 100vw;
		height: 100vh;
	}

	100% {
		width: 0;
		bottom: 0;
		right: -103vw;
		height: 0;
	}

}
