@import 'vars';

.MyOrder {
	transition: all ease 1s;
	width: 361px;
    height: calc(100vh - 100px);
    padding: 10px 5px;
    box-sizing: border-box;
    position: absolute;
    right: -100vw;
    background-color: white;
    top: 100px;
    bottom: 0;
    border-radius: 6px;
    border: 1px solid var(--very-light-pink);
}
.my-order-content{
    padding-top: 40px;
	height: calc(100vh - 280px);
    overflow-y: scroll;
    overflow-x: hidden;

}
.my-order-content::-webkit-scrollbar {
    -webkit-appearance: none;
}

    .my-order-content::-webkit-scrollbar:vertical {
        width: 5px;
    }

.my-order-content::-webkit-scrollbar-button:increment, .contenedor::-webkit-scrollbar-button {
    display: none;
}

.my-order-content::-webkit-scrollbar:horizontal {
    height: 5px;
}

.my-order-content::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: none;
}

.my-order-content::-webkit-scrollbar-track {
    border-radius: 10px;
}

.title-order {
	font-size: var(--lg);
	font-weight: bold;
	color: var(--gray);
}
.resume {
	height: 100px;
}

.totalCart{
	background-color: rgba(0,0,0,.1);
	justify-content: space-around;
	font-weight: 800;
}


@media (max-width: 640px) {
	.MyOrder {
		width: 100%;
	}
}
