@import 'vars';

.OrderItem {
	border-bottom: 1px solid rgba(0,0,0,.1);
	box-sizing: border-box;
}
.OrderItem figure {
	margin: 0;
}
.OrderItem figure img {
	width: 100%;
	height: 70px;
	border-radius: 3px;
	object-fit: contain;
}

.OrderItem p:nth-child(3) {
	font-size: var(--md);
	font-weight: bold;
}
